<h1>Address Book</h1>

<% @doctors.each do |doctor| %>
  <h4><%= doctor.name %></h4>
  <h4><%= doctor.department %></h4>
  <ul>
    <% doctor.appointments.each do |appointment| %>
      <li> <%= address.street_address_1 %> <%= address.city %>, <%= address.state %>
    <% end %>
  </ul>
<% end %>
